@charset "UTF-8";
.pc { display: block !important; }
.sp { display: none !important; }

body {
  font-family: "Noto Serif JP", serif;
  margin: auto;
}
.pc {
  width: 1366px;
  height: 545px;
}
body h2 {
  text-align: center;
  font-size: 40px;
  margin: 150px 0 -10px 0;
}
body h3 {
  text-align: center;
  font-size: 18px;
}

header h1 {
  font-weight: bold;
  font-size: 32px;
  color: #b71b26;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end; 
}
header nav ul li a {
  letter-spacing: 0.5em;
  margin: 0 20px;
  color: #333333;
}

.conceptsec h3 {
  color: #92a0b5;
}
.conceptsec ul div li {
  text-align: center;
  list-style: none;
  font-size: 30px;
}
.conceptsec ul li {
  font-size: 18px;
  list-style: none;

}

.servisesec {
  font-size: 20px;
}
.servisesec h3 {
  color: #92a0b5;
}
.servisesec table thead {
  vertical-align: middle;
  text-align: center;
}
.flowsec {
  background-color:#f4f5f7;
  text-align: center;
}
.flowsec ol {
 writing-mode: vertical-lr;
 text-align: center;
 display: inline;
}
.flowsec ol div li {  /*　▶　*/
 font-size: 2em;
 background-color:#f4f5f7;
 color: #b71b26;
 padding: 0 30px 30px 30px;
}
.flowsec ol li {
  list-style-type: none;  /* 箇条書きのマーカーを消す */
  background-color: #333333;
  color: #FFFFFF;
  border-radius: 50px;
  padding: 100px 8px 70px 8px;
  font-size: 30px;
  margin: 10px auto;
  display: block;
}
.flowsec div h3 {
  color: #b71b26;
}

.qandasec h3 {
  color: #92a0b5;
}
.qandasec ul li {
  font-size: 21px;
  list-style: none;
  justify-content: center;
  padding: 25px 0 25px 0;
}

.contactsec {
  background-color:#e5e5e5;
  width: auto;
}
.contactsec h3 {
text-align: center;
}
.contactsec form {
  background-color:#eff1f4;
  font-size: 25px;
  justify-content: flex-start;
  margin: 0 150px 0 150px;
  padding: 50px;
}
.submitBtn {
  text-align: center;
}
input[type="submit"] {
  background-color: #121212;
  color: #ffffff;
  padding: 18px 80px;
}
.innerWrap {
  border: 2px solid lightblue;
}
footer {
  background-color: #333333;
  text-align: center;
  font-size: 15px;
  padding: 10px 0 10px 0;
  margin-top: 200px;
  color: #FFFFFF;
}





/*ブレイクポイント768px*/ 
@media screen and (max-width: 768px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}
html,body {
  overflow-x: hidden; /*横スクロールの禁止*/
}
body {
  font-family: "Noto Serif JP", serif;

}
.sp {
  width: 375px;
  height: 480px;
  object-fit: cover;
}
nav {
 display: none;
}

h2 {
  font-size: 28px;
  margin: 48px 96.5px;
  
}

