@charset "utf-8" ;
html,body {
    overflow-x: hidden; /*横スクロールの禁止*/
  }

header h1 {
    color: #3B90EF;
    text-align: center;
    font-size: 50px;

}



.sakuhinn .img1 img {
    width: 375px;
  box-shadow:
    -10px 10px 25px rgba(230, 180, 15, 0.9),
    10px -10px 25px rgba(8, 131, 161, 0.9)
    

}


.sakuhinn .img2 img {
    width: 375px;
    box-shadow: 15px 15px 0px 0 rgb(60, 194, 235);
}